<app-barra></app-barra>

<h1>Platillo del Día</h1>
    <div *ngIf="informacion!=true;else espera">
        <div class="grid" *ngIf="articulos!=null">
            <div class="producto" > 
                <a (click)="informacionPlatillo()"><img class="producto__imagen" src={{articulos.meals[0].strMealThumb}} alt="Imagen Platillo">  
                    <div class="producto__informacion"> 
                        <p class="producto__nombre">{{articulos.meals[0].strMeal}}</p> 
                    </div>
                </a>
            </div><!--.PRODUCTO-->  
        </div><!--GRID-->
    </div>

<ng-template #espera>
    <button (click)="regresa()">Regresar</button>
    <br>
    <div class="grid" *ngIf="articulos!=null">
            <app-informacion-platillo [id]="articulos.meals[0].idMeal"></app-informacion-platillo>
     
    </div>
</ng-template>